
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: flex-start;  
  padding-top: 1rem;  
  padding-left: 2rem; 
  padding-right: 2rem;
  /* background: #05102e;        */
}

.contactGrid {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: rgba(255,255,255,0.05); 
  border-radius: 1rem;
  padding: 2rem;
  color: #4aa0f7;
  padding-top: 0.1; margin-top: 0rem;
  
}


.formSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

.input,
.textarea {
  width:100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background: rgba(83, 83, 83, 0.332);
  color: #69a28f;
}

.input::placeholder,
.textarea::placeholder {
  color: #b6b5b5;
}

.submitButton {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #4a90e2, #7ab8f5);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.submitButton:hover {
  transform: translateY(-2px);
}
